<a href="https://colab.research.google.com/github/ryanfernald/San-Jose-Employment-Analysis/blob/main/Job_Title_Average_Growth_Rate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd

file_path = 'sample_data/df_all_years_clean.csv'
df = pd.read_csv(file_path)

df = df.sort_values(by=['Job Title', 'Year'])

df['Growth Rate'] = df.groupby('Job Title')['Base Pay'].pct_change() * 100

growth_rate_df = df.dropna(subset=['Growth Rate'])

filtered_growth_rate_df = growth_rate_df[(growth_rate_df['Year'] >= 2013) & (growth_rate_df['Year'] <= 2023)]

average_growth_rate = filtered_growth_rate_df.groupby('Job Title')['Growth Rate'].mean().reset_index()

average_growth_rate.rename(columns={'Growth Rate': 'Average Growth Rate'}, inplace=True)

print("Growth Rates for Each Year:")
print(growth_rate_df[['Job Title', 'Year', 'Base Pay', 'Growth Rate']])

print("\nAverage Growth Rate from 2013 to 2023 for Each Job Title:")
print(average_growth_rate)

Growth Rates for Each Year:
              Job Title  Year   Base Pay  Growth Rate
4386   Account Clerk II  2013   46132.80     1.879387
4389   Account Clerk II  2013   49404.00     7.090833
4433   Account Clerk II  2013   42296.00   -14.387499
4441   Account Clerk II  2013   45591.25     7.790926
4450   Account Clerk II  2013   46132.80     1.187838
...                 ...   ...        ...          ...
49987       Zoo Manager  2019  102746.16    92.387751
58512       Zoo Manager  2020  112047.60     9.052835
68850       Zoo Manager  2021   51004.80   -54.479346
77143       Zoo Manager  2022   65921.04    29.244777
83991       Zoo Manager  2023  106973.88    62.275777

[88211 rows x 4 columns]

Average Growth Rate from 2013 to 2023 for Each Job Title:
               Job Title  Average Growth Rate
0       Account Clerk II            74.705039
1    Account Clerk II PT           160.041542
2           Accountant I           105.041822
3          Accountant II            31.582204
4        Accounting Tech            34.441629
..                   ...                  ...
679         Zoo Educator             3.580908
680      Zoo Educator PT            -6.850933
681        Zoo Keeper FT            42.175556
682        Zoo Keeper PT           667.923617
683          Zoo Manager            13.156892

[684 rows x 2 columns]

<ipython-input-11-9d3d426dd405>:8: FutureWarning: The default fill_method='ffill' in SeriesGroupBy.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  df['Growth Rate'] = df.groupby('Job Title')['Base Pay'].pct_change() * 100